.checkbox {
  $font-size: ($base-unit * 4);
  @extend %border-box;
  position: relative;
  display: inline-block;
  width: (($base-unit * 10) / $font-size * 1em);
  height: (($base-unit * 10) / $font-size * 1em);
  font-size: $font-size;
  vertical-align: middle;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: (($base-unit * 6) / $font-size * 1em);
    height: (($base-unit * 6) / $font-size * 1em);
    font-size: inherit;
    color: $color-text-dark;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  &__element {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    background-color: $color-body;
    border: 0;
    border-radius: (($base-unit * 1) / $font-size * 1em);
    box-shadow: inset 0 0 0 1px $color-line;
    transition: $transition-duration;
    appearance: none;

    &::-ms-check {
      display: none;
    }

    &:focus,
    &:hover {
      background-color: darken($color-body, 5%);
      outline: 0;
      box-shadow: inset 0 0 0 1px darken($color-line, 5%);

      + .checkbox__icon {
        color: darken($color-text-dark, 5%);
      }
    }

    &:checked {
      + .checkbox__icon {
        opacity: 1;
      }

      &[disabled] + .checkbox__icon {
        opacity: 0.5;
      }
    }

    &[disabled] {
      pointer-events: none;
      cursor: default;
      user-select: none;
      opacity: 0.5;
    }

    &[hidden] {
      display: none;
    }
  }
}
