@use 'sass:color';
@use 'sass:math';
@use '../../styles/utilities/box-sizing-border-box.scss';
@use '../../styles/variables.scss';

.input,
%input {
  $font-size: variables.base-units(4);
  @extend %box-sizing-border-box;
  display: inline-block;
  width: 100%;
  height: math.div(variables.base-units(10), $font-size) * 1em;
  font-size: $font-size;
  vertical-align: middle;

  &__element {
    width: 100%;
    height: 100%;
    padding-top: math.div(variables.base-units(2), $font-size) * 1em;
    padding-right: math.div(variables.base-units(4), $font-size) * 1em;
    padding-bottom: math.div(variables.base-units(2), $font-size) * 1em;
    padding-left: math.div(variables.base-units(4), $font-size) * 1em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: math.div(variables.base-units(6), $font-size) * 1em;
    color: variables.$color-text-dark;
    vertical-align: middle;
    background-color: variables.$color-body;
    border: 0;
    border-radius: math.div(variables.base-units(1), $font-size) * 1em;
    box-shadow: inset 0 0 0 1px variables.$color-line;
    transition: variables.$transition-duration;

    &::placeholder {
      color: color.scale(variables.$color-text-dark, $lightness: 15%);
      text-overflow: ellipsis;
      transition: variables.$transition-duration;
    }

    &:focus {
      color: color.scale(variables.$color-text-dark, $lightness: -5%);
      background-color: color.scale(variables.$color-body, $lightness: -5%);
      outline: 0;
      box-shadow: inset 0 0 0 1px
        color.scale(variables.$color-line, $lightness: -5%);

      &::placeholder {
        color: transparent;
      }
    }

    &[required] {
      background-image: url('../images/point.svg');
      background-repeat: no-repeat;
      background-position: right 5px top 5px;
    }

    &[disabled] {
      pointer-events: none;
      cursor: default;
      user-select: none;
      opacity: 0.5;
    }

    &[hidden] {
      display: none;
    }
  }
}
