//-
  @param {Object} options
  @param {string} options.name

  @example
  +button({ name: example })(href='javascript:void(0);')
  +button({ name: example })(type='button')

mixin button({ name })
  if attributes.href
    a.button&attributes(attributes)
      span= name
  else
    button.button&attributes(attributes)
      span= name
