//- @param {string} text
//- @example +button('Example')(href='javascript:void(0);', target='_blank')
//- @example +button('Example')(href='javascript:void(0);')
//- @example +button('Example')(type='button')
mixin button(text)
  if attributes.href
    if attributes.target === '_blank'
      a.button(rel='noopener noreferrer')&attributes(attributes)
        span= text
        block
    else
      a.button&attributes(attributes)
        span= text
        block
  else
    button.button&attributes(attributes)
      span= text
      block
