//- @param {string} title
mixin button(title)
  if attributes.href
    if attributes.target === '_blank'
      a.button(rel='noopener noreferrer')&attributes(attributes)
        span= title
        block
    else
      a.button&attributes(attributes)
        span= title
        block
  else
    button.button&attributes(attributes)
      span= title
      block
