.button {
  $background-color: map-get($colors, accent);
  $font-size: ($base-unit * 4);
  $transition-duration: 200ms;

  display: inline-block;
  padding: (($base-unit * 4) / $font-size * 1em)
    (($base-unit * 6) / $font-size * 1em);
  min-width: (($base-unit * 40) / $font-size * 1em);
  border: 0;
  border-radius: ($base-unit * 1);
  background-color: $background-color;
  box-shadow: inset 0 2px 0 0 rgba(#000000, 0);
  color: map-get($colors, text-light);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: $font-size;
  font-family: inherit;
  line-height: (($base-unit * 6) / $font-size);
  cursor: pointer;
  transition: background-color $transition-duration,
    box-shadow $transition-duration;

  &:focus,
  &:hover {
    outline: 0;
    background-color: lighten($background-color, 5%);
  }

  &:active {
    background-color: darken($background-color, 5%);
    box-shadow: inset 0 2px 0 0 rgba(#000000, 0.4);
    user-select: none;
  }

  &:disabled,
  &_disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;

    &:focus,
    &:hover {
      background-color: $background-color;
    }

    &:active {
      background-color: $background-color;
      box-shadow: inset 0 2px 0 0 rgba(#000000, 0);
    }
  }
}
