//- @example +input(placeholder='Example')
//- @example +input(placeholder='Example', required='required')
//- @example +input(placeholder='Example', disabled='disabled')
//- @example +input(placeholder='Example', required='required', disabled='disabled')
mixin input
  .input
    input.input__element(type='text')&attributes(attributes)
