.input,
%input {
  $font-size: ($base-unit * 4);
  @extend %border-box;
  display: inline-block;
  width: 100%;
  height: (($base-unit * 10) / $font-size * 1em);
  font-size: $font-size;
  vertical-align: middle;

  &__element {
    width: 100%;
    height: 100%;
    padding-top: (($base-unit * 2) / $font-size * 1em);
    padding-right: (($base-unit * 4) / $font-size * 1em);
    padding-bottom: (($base-unit * 2) / $font-size * 1em);
    padding-left: (($base-unit * 4) / $font-size * 1em);
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: (($base-unit * 6) / $font-size * 1em);
    color: $color-text-dark;
    vertical-align: middle;
    background-color: $color-body;
    border: 0;
    border-radius: (($base-unit * 1) / $font-size * 1em);
    box-shadow: inset 0 0 0 1px $color-line;
    transition: $transition-duration;

    &::placeholder {
      color: lighten($color-text-dark, 15%);
      text-overflow: ellipsis;
    }

    &:focus {
      color: darken($color-text-dark, 5%);
      background-color: darken($color-body, 5%);
      outline: 0;
      box-shadow: inset 0 0 0 1px darken($color-line, 5%);

      &::placeholder {
        color: transparent;
      }
    }

    &[required] {
      background-image: url('../images/point.svg');
      background-repeat: no-repeat;
      background-position: right 5px top 5px;
    }

    &[disabled] {
      pointer-events: none;
      cursor: default;
      user-select: none;
      opacity: 0.5;
    }

    &[hidden] {
      display: none;
    }
  }
}
