{
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "jsdoc"],
  "root": true,
  "rules": {
    "import/extensions": [
      "warn",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "jsdoc/check-alignment": "warn",
    "jsdoc/check-examples": "warn",
    "jsdoc/check-indentation": "warn",
    "jsdoc/check-param-names": "warn",
    "jsdoc/check-syntax": "warn",
    "jsdoc/check-tag-names": "warn",
    "jsdoc/check-types": "warn",
    "jsdoc/implements-on-classes": "warn",
    "jsdoc/match-description": "off",
    "jsdoc/newline-after-description": "warn",
    "jsdoc/no-types": "off",
    "jsdoc/no-undefined-types": "warn",
    "jsdoc/require-description": "off",
    "jsdoc/require-description-complete-sentence": "off",
    "jsdoc/require-example": "off",
    "jsdoc/require-hyphen-before-param-description": "warn",
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param": "warn",
    "jsdoc/require-param-description": "off",
    "jsdoc/require-param-name": "warn",
    "jsdoc/require-param-type": "warn",
    "jsdoc/require-returns": "warn",
    "jsdoc/require-returns-check": "warn",
    "jsdoc/require-returns-description": "off",
    "jsdoc/require-returns-type": "warn",
    "jsdoc/valid-types": "warn",
    "lines-between-class-members": [
      "warn",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "quotes": ["warn", "single"]
  },
  "settings": {
    "jsdoc": {
      "preferredTypes": {
        "object": "Object"
      }
    }
  }
}
