{
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "root": true
}
