{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-prettier"],
  "rules": {
    "color-hex-length": "long",
    "declaration-property-value-blacklist": {
      "/^border/": ["none"],
      "/^outline/": ["none"]
    },
    "length-zero-no-unit": true
  }
}
