{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "color-hex-length": "long",
    "declaration-property-value-blacklist": {
      "/^border/": ["none"]
    },
    "length-zero-no-unit": true
  }
}
