//- @example +button(type="button") Example
//- @example +button.button_accent(type="button") Example
//- @example +button(href="javascript:void(0);") Example
//- @example +button.button_accent(href="javascript:void(0);") Example
//- @example +button(type="button", disabled="disabled") Example
//- @example +button.button_accent(type="button", disabled="disabled") Example
//- @example +button(href="javascript:void(0);", tabindex="-1") Example
//- @example +button.button_accent(href="javascript:void(0);", tabindex="-1") Example
mixin button
  if attributes.href
    a.button(
      rel=attributes.target === "_blank" ? "noopener noreferrer" : undefined
    )&attributes(attributes)
      block
  else
    button.button&attributes(attributes)
      block
