body.no-js(class=bodyClass)
  script document.body.classList.remove('no-js');
  block body
  // display: block
  script(src='./scripts/libraries.min.js' defer)
  // display: block
  script(src='./scripts/main.min.js' defer)
