body.no-js(class=bodyClasses)
  script document.body.classList.remove('no-js');
  block body
  // display: block
  script(src='./scripts/libraries.js' defer)
  // display: block
  script(src='./scripts/main.js' defer)
