-
  function getRandomInt(min /*: number */, max /*: number */) /*: number */ {
    const randomInt = Math.floor(Math.random() * (max - min)) + min;

    return randomInt;
  }

  function getRandomId(
    options /*:: ?: $Exact<{
      length?: number,
      uppercase?: boolean,
      lowercase?: boolean,
      numbers?: boolean,
      symbols?: boolean,
    }> */
  ) /*: string */ {
    const defaultOptions = {
      length: 20,
      uppercase: false,
      lowercase: true,
      numbers: true,
      symbols: false,
    };
    const currentOptions =
      options === void 0
        ? defaultOptions
        : Object.assign({}, defaultOptions, options);

    const defaultChars = {
      uppercase: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
      lowercase: 'abcdefghijklmnopqrstuvwxyz',
      numbers: '0123456789',
      symbols: '!@#$%^&*',
    };
    const currentChars = Object.keys(defaultChars).reduce(
      (acc /*: string */, key /*: $Keys<typeof defaultChars> */) =>
        acc + (currentOptions[key] ? defaultChars[key] : ''),
      ''
    );

    const randomId = Array.from(
      { length: currentOptions.length },
      () => currentChars[getRandomInt(0, currentChars.length - 1)]
    ).join('');

    return randomId;
  }

  function getRandomDoubleId(length /*: number */ = 20) /*: string */ {
    function* generator(
      characters /*: number */
    ) /*: Generator<string, void, void> */ {
      while (true) {
        const randomId = getRandomId(characters);

        yield randomId;
        yield randomId;
      }
    }

    if (getRandomDoubleId.generator === void 0) {
      getRandomDoubleId.generator = generator(length);
    }

    return getRandomDoubleId.generator.next().value;
  }
