-
  /**
   * @param {number} min
   * @param {number} max
   * @returns {number}
   */
  const getRandomInt = (min, max) => {
    const randomInt = Math.floor(Math.random() * (max - min)) + min;

    return randomInt;
  };

  /**
   * @param {number} [length]
   * @returns {string}
   */
  const getRandomId = (length = 20) => {
    const chars = '0123456789abcdefghijklmnopqrstuvwxyz';
    const randomId = Array.from(
      { length },
      () => chars[getRandomInt(0, chars.length - 1)]
    ).join('');

    return randomId;
  };

  /**
   * @param {number} [length]
   * @returns {string}
   */
  const getRandomDoubleId = (length = 20) => {
    /**
     * @param {number} characters
     * @yields {string}
     */
    function* generator(characters) {
      while (true) {
        const randomId = getRandomId(characters);

        yield randomId;
        yield randomId;
      }
    }

    if (getRandomDoubleId.generator === undefined) {
      getRandomDoubleId.generator = generator(length);
    }

    return getRandomDoubleId.generator.next().value;
  };
