@use '../../../styles/utilities/box-sizing-border-box';
@use '../../../styles/variables';

.icon {
  @extend %box-sizing-border-box;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  pointer-events: none;
  fill: currentColor;
  transition: variables.$transition-duration;
}
