//- @example +button('Example')(type='button')
//- @example +button('Example').button_accent(type='button')
//- @example +button('Example')(href='javascript:void(0);')
//- @example +button('Example').button_accent(href='javascript:void(0);')
//- @example +button('Example')(type='button', disabled='disabled')
//- @example +button('Example').button_accent(type='button', disabled='disabled')
//- @example +button('Example')(href='javascript:void(0);', tabindex='-1')
//- @example +button('Example').button_accent(href='javascript:void(0);', tabindex='-1')
//- @param {string} text
mixin button(text)
  if attributes.href
    a.button(
      rel=attributes.target === '_blank' ? 'noopener noreferrer' : undefined
    )&attributes(attributes)
      span.button__text= text
        block
  else
    button.button&attributes(attributes)
      span.button__text= text
      block
