@use 'sass:color';
@use 'sass:math';
@use '../../../styles/utilities/box-sizing-border-box';
@use '../../../styles/variables';

.button,
%button {
  $font-size: variables.base-units(4);
  @extend %box-sizing-border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: math.div(variables.base-units(30), $font-size) * 1em;
  padding-top: math.div(variables.base-units(2), $font-size) * 1em;
  padding-right: math.div(variables.base-units(4), $font-size) * 1em;
  padding-bottom: math.div(variables.base-units(2), $font-size) * 1em;
  padding-left: math.div(variables.base-units(4), $font-size) * 1em;
  font-family: inherit;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: math.div(variables.base-units(6), $font-size) * 1em;
  color: variables.$color-text-dark;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  vertical-align: middle;
  cursor: pointer;
  background-color: variables.$color-body;
  border: 0;
  border-radius: math.div(variables.base-units(1), $font-size) * 1em;
  box-shadow: inset 0 0 0 1px variables.$color-line,
    inset 0 2px 4px 0 rgba(#000000, 0);
  transition: variables.$transition-duration;

  &__text {
    pointer-events: none;
  }

  &:focus,
  &:hover {
    color: color.scale(variables.$color-text-dark, $lightness: -5%);
    background-color: color.scale(variables.$color-body, $lightness: -5%);
    outline: 0;
    box-shadow: inset 0 0 0 1px
        color.scale(variables.$color-line, $lightness: -5%),
      inset 0 2px 4px 0 rgba(#000000, 0);
  }

  &:active {
    color: color.scale(variables.$color-text-dark, $lightness: -10%);
    user-select: none;
    background-color: color.scale(variables.$color-body, $lightness: -10%);
    box-shadow: inset 0 0 0 1px
        color.scale(variables.$color-line, $lightness: -10%),
      inset 0 2px 4px 0 rgba(#000000, 0.2);
  }

  &[disabled],
  &[tabindex='-1'] {
    pointer-events: none;
    cursor: default;
    user-select: none;
    opacity: 0.5;
  }

  &[hidden] {
    display: none;
  }

  &_accent {
    color: variables.$color-text-light;
    background-color: variables.$color-accent;
    box-shadow: inset 0 0 0 1px variables.$color-accent,
      inset 0 2px 4px 0 rgba(#000000, 0);

    &:focus,
    &:hover {
      color: color.scale(variables.$color-text-light, $lightness: -5%);
      background-color: color.scale(variables.$color-accent, $lightness: -5%);
      box-shadow: inset 0 0 0 1px
          color.scale(variables.$color-accent, $lightness: -5%),
        inset 0 2px 4px 0 rgba(#000000, 0);
    }

    &:active {
      color: color.scale(variables.$color-text-light, $lightness: -10%);
      user-select: none;
      background-color: color.scale(variables.$color-accent, $lightness: -10%);
      box-shadow: inset 0 0 0 1px
          color.scale(variables.$color-accent, $lightness: -10%),
        inset 0 2px 4px 0 rgba(#000000, 0.2);
    }
  }

  &_full-width {
    width: 100%;
  }
}
