/* stylelint-disable property-no-vendor-prefix */

.counter {
  $font-size: ($base-unit * 4);
  @extend %border-box;
  display: inline-flex;
  width: (($base-unit * 30) / $font-size * 1em);
  height: (($base-unit * 10) / $font-size * 1em);
  font-size: $font-size;
  vertical-align: middle;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: (($base-unit * 6) / $font-size * 1em);
    height: (($base-unit * 6) / $font-size * 1em);
    font-size: inherit;
    color: $color-text-dark;
    transform: translateX(-50%) translateY(-50%);
  }

  &__button {
    @extend %button;
    position: relative;
    z-index: 1;
    width: (100% / 3);
    min-width: auto;
    height: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: inherit;
    text-transform: none;

    &:focus,
    &:hover {
      + .counter__icon {
        color: darken($color-text-dark, 5%);
      }
    }

    &:active {
      + .counter__icon {
        color: darken($color-text-dark, 10%);
      }
    }

    &_decrease {
      border-radius: (($base-unit * 1) / $font-size * 1em) 0 0
        (($base-unit * 1) / $font-size * 1em);
    }

    &_increase {
      border-radius: 0 (($base-unit * 1) / $font-size * 1em)
        (($base-unit * 1) / $font-size * 1em) 0;
    }
  }

  &__input {
    @extend %input__element;
    width: (100% / 3);
    width: calc(100% / 3 + 2px);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: -1px;
    margin-left: -1px;
    text-align: center;
    border-radius: 0;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      color: $color-text-dark;
      background-color: $color-body;
      box-shadow: inset 0 0 0 1px $color-line;
    }
  }
}
