@use 'sass:color';
@use 'sass:math';
@use '../../styles/utilities/box-sizing-border-box.scss';
@use '../../styles/variables.scss';
@use '../icon/icon.scss';

.switch {
  $font-size: variables.base-units(4);
  @extend %box-sizing-border-box;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: math.div(variables.base-units(20), $font-size) * 1em;
  height: math.div(variables.base-units(10), $font-size) * 1em;
  font-size: $font-size;
  vertical-align: middle;

  &__icon {
    position: absolute;
    top: math.div(variables.base-units(1), $font-size) * 1em;
    left: math.div(variables.base-units(1), $font-size) * 1em;
    width: math.div(variables.base-units(8), $font-size) * 1em;
    height: math.div(variables.base-units(8), $font-size) * 1em;
    font-size: inherit;
    color: variables.$color-text-dark;
  }

  &__element {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    background-color: variables.$color-body;
    border: 0;
    border-radius: math.div(variables.base-units(5), $font-size) * 1em;
    box-shadow: inset 0 0 0 1px variables.$color-line;
    transition: variables.$transition-duration;
    appearance: none;

    &::-ms-check {
      display: none;
    }

    &:focus,
    &:hover {
      background-color: color.scale(variables.$color-body, $lightness: -5%);
      outline: 0;
      box-shadow: inset 0 0 0 1px
        color.scale(variables.$color-line, $lightness: -5%);

      + .switch__icon {
        color: color.scale(variables.$color-text-dark, $lightness: -5%);
      }
    }

    &:checked {
      background-color: variables.$color-accent;
      box-shadow: inset 0 0 0 1px variables.$color-accent;

      + .switch__icon {
        color: variables.$color-text-light;
        transform: translateX(
          math.div(variables.base-units(10), $font-size) * 1em
        );
      }
    }

    &:focus:checked,
    &:hover:checked {
      background-color: color.scale(variables.$color-accent, $lightness: -5%);
      box-shadow: inset 0 0 0 1px
        color.scale(variables.$color-accent, $lightness: -5%);
    }

    &[disabled] {
      pointer-events: none;
      cursor: default;
      user-select: none;
      opacity: 0.5;

      + .switch__icon {
        opacity: 0.5;
      }
    }

    &[hidden] {
      display: none;
    }
  }
}
