//- @example
//- +icon('example')(width='24' height='24')

mixin icon(name)
  svg.icon(
    class=`icon_${name}`
    aria-hidden='true'
    focusable='false'
  )&attributes(attributes)
    use(xlink:href=`./images/sprite/sprite.svg#icon-${name}`)/
