//-
  @param {Object} options
  @param {string} options.name

  @example
  +icon({ name: 'example' })(width='24' height='24')

mixin icon({ name })
  svg.icon(
    class=`icon icon_${name}`
    aria-hidden='true'
    focusable='false'
  )&attributes(attributes)
    use(xlink:href=`./images/sprite/sprite.svg#icon-${name}`)/
