//- @example
//- +icon('example')(width='24' height='24')

mixin icon(name)
  svg(
    class=`icon-${name}`
    aria-hidden='true'
    focusable='false'
  )&attributes(attributes)
    use(xlink:href=`#icon-${name}`)/
