//- @param {string} name
mixin icon(name)
  svg.icon(class=`icon_${name.toLowerCase()}`, aria-hidden='true', focusable='false')&attributes(attributes)
    use(xlink:href=`./images/sprite/sprite.svg#icon-${name.toLowerCase()}`)/
