//- @example +hamburger
mixin hamburger
  button.hamburger(type="button", aria-pressed="false")&attributes(attributes)
    span.hamburger__part-of-icon
    span.hamburger__part-of-icon
    span.hamburger__part-of-icon
