@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin hyphens {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin triangle($direction, $width, $height, $background-color) {
  width: 0;
  height: 0;
  border-style: solid;

  @if ($direction == t) {
    border-width: 0 ($width / 2) $height ($width / 2);
    border-color: transparent transparent $background-color transparent;
  } @else if ($direction == r) {
    border-width: ($height / 2) 0 ($height / 2) $width;
    border-color: transparent transparent transparent $background-color;
  } @else if ($direction == b) {
    border-width: $height ($width / 2) 0 ($width / 2);
    border-color: $background-color transparent transparent transparent;
  } @else if ($direction == l) {
    border-width: ($height / 2) $width ($height / 2) 0;
    border-color: transparent $background-color transparent transparent;
  } @else if ($direction == tr) {
    border-width: 0 $width $height 0;
    border-color: transparent $background-color transparent transparent;
  } @else if ($direction == tl) {
    border-width: $height $width 0 0;
    border-color: $background-color transparent transparent transparent;
  } @else if ($direction == br) {
    border-width: 0 0 $height $width;
    border-color: transparent transparent $background-color transparent;
  } @else if ($direction == bl) {
    border-width: $width 0 0 $height;
    border-color: transparent transparent transparent $background-color;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
}

@function ps-letter-spacing-to-em($size) {
  @return $size / 1000 * 1em;
}

@function px-to-rem($size, $rem-base: 16) {
  @return $size / $rem-base * 1rem;
}
