html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  $font-size: 16px;

  margin: 0;
  min-width: 320px;
  background-color: map-get($colors, background);
  color: map-get($colors, text);
  font: #{$font-size} / (24px / $font-size) sans-serif;
}

// for IE11
main {
  display: block;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

button,
img,
video {
  vertical-align: middle;
}

h1 {
  $font-size: 68px;

  margin-top: (24px / $font-size * 1em);
  margin-bottom: (48px / $font-size * 1em);
  color: map-get($colors, text-dark);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: ($font-size - 16);
  line-height: (72px / $font-size);

  @include media('>=sm') {
    font-size: ($font-size - 12);
  }

  @include media('>=md') {
    font-size: ($font-size - 8);
  }

  @include media('>=lg') {
    font-size: ($font-size - 4);
  }

  @include media('>=xl') {
    font-size: ($font-size);
  }
}

.visually-hidden {
  @include visually-hidden();
}
