html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  $font-size: ($base-unit * 4);

  margin: 0;
  min-width: 320px;
  background-color: map-get($colors, background);
  color: map-get($colors, text);
  font-size: $font-size;
  font-family: sans-serif;
  line-height: (($base-unit * 6) / $font-size);
}

main {
  display: block;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

button,
img,
video {
  vertical-align: middle;
}

h1 {
  $font-size: ($base-unit * 17);

  margin-top: (($base-unit * 6) / $font-size * 1em);
  margin-bottom: (($base-unit * 12) / $font-size * 1em);
  color: map-get($colors, text-dark);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: ($font-size - ($base-unit * 4));
  line-height: (($base-unit * 18) / $font-size);

  @include media('>=sm') {
    font-size: ($font-size - ($base-unit * 3));
  }

  @include media('>=md') {
    font-size: ($font-size - ($base-unit * 2));
  }

  @include media('>=lg') {
    font-size: ($font-size - ($base-unit * 1));
  }

  @include media('>=xl') {
    font-size: ($font-size);
  }
}

.visually-hidden {
  @include visually-hidden();
}
