$grid: map-merge(
  $grid,
  (
    breakpoints: $breakpoints,
  )
);

.grid {
  @include grid-container(sm);

  @include grid-breakpoint(sm) {
    max-width: map-get($containers, sm);
  }

  @include grid-breakpoint(md) {
    max-width: map-get($containers, md);
  }

  @include grid-breakpoint(lg) {
    max-width: map-get($containers, lg);
  }

  @include grid-breakpoint(xl) {
    max-width: map-get($containers, xl);
  }

  &__row {
    @include grid-row();
  }

  &__column {
    @include grid-col(12 6 4 3);
  }
}
