@use '../components/button/button.scss';
@use '../components/checkbox/checkbox.scss';
@use '../components/counter/counter.scss';
@use '../components/hamburger/hamburger.scss';
@use '../components/icon/icon.scss';
@use '../components/input/input.scss';
@use '../components/keyboard/keyboard.scss';
@use '../components/radio/radio.scss';
@use '../components/rating/rating.scss';
@use '../components/select/select.scss';
@use '../components/switch/switch.scss';
@use '../components/textarea/textarea.scss';
@use './utilities/visually-hidden.scss';

.starting {
  &__body {
    min-height: 100vh;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: system-ui, sans-serif;
  }
}

.visually-hidden {
  @extend %visually-hidden;
}
