@import '../../node_modules/fast-grid/fast-grid';
@import '../../node_modules/include-media/dist/include-media';

@import './variables';
@import './utilities';

.starting {
  @import '../blocks/components/button/button';
  @import '../blocks/components/checkbox/checkbox';
  @import '../blocks/components/icon/icon';
  @import '../blocks/components/input/input';
  @import '../blocks/components/radio/radio';
  @import '../blocks/components/rating/rating';
  @import '../blocks/components/select/select';
  @import '../blocks/components/switch/switch';

  @import '../blocks/components/counter/counter';
  @import '../blocks/components/keyboard/keyboard';
  @import '../blocks/components/modal/modal';
  @import '../blocks/components/textarea/textarea';

  .example {
    $font-size: ($base-unit * 16);
    @extend %border-box;
    margin-top: (($base-unit * 6) / $font-size * 1em);
    margin-bottom: (($base-unit * 12) / $font-size * 1em);
    color: $color-text-dark;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: ($font-size - ($base-unit * 4));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: (($base-unit * 24) / $font-size * 1em);
    @include media('>=sm') {
      font-size: ($font-size - ($base-unit * 3));
    }
    @include media('>=md') {
      font-size: ($font-size - ($base-unit * 2));
    }
    @include media('>=lg') {
      font-size: ($font-size - ($base-unit * 1));
    }
    @include media('>=xl') {
      font-size: $font-size;
    }
  }

  .grid {
    @include grid-container(sm);
    min-width: 320px;
    @include grid-breakpoint(sm) {
      max-width: map-get($containers, sm);
    }
    @include grid-breakpoint(md) {
      max-width: map-get($containers, md);
    }
    @include grid-breakpoint(lg) {
      max-width: map-get($containers, lg);
    }
    @include grid-breakpoint(xl) {
      max-width: map-get($containers, xl);
    }

    &__row {
      @include grid-row();
    }

    &__column {
      @include grid-col(12 6 4 3);
    }
  }

  .visually-hidden {
    @extend %visually-hidden;
  }
}
