@function base-units($number-of-base-units) {
  $base-unit: 4px;
  @return $base-unit * $number-of-base-units;
}

$color-accent: #2196f3;
$color-body: #f7f7f7;
$color-line: #d7d7d7;
$color-link: $color-accent;
$color-text-dark: #575757;
$color-text-light: #ffffff;

$transition-duration: 300ms;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$grid-containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$grid-gap: 15px;
