$base-unit: 4px;

$color-accent: #2196f3;
$color-body: #f7f7f7;
$color-line: #d7d7d7;
$color-link: $color-accent;
$color-text-dark: #575757;
$color-text-light: #ffffff;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$grid: map-merge(
  $grid,
  (
    box-sizing: border-box,
    breakpoints: $breakpoints,
    columns: 12,
    container: 15px,
    gap: 15px,
    mode: flex,
  )
);

$transition-duration: 200ms;
