$colors: (
  text-dark: #333333,
  text-light: #cccccc,
  background: #ffffff,
  accent: #0077dd,
);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
