{% import './_mixin.html' as mixin %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./style/main.min.css" rel="stylesheet">
    <title>{{ pages[page].headTitle }}</title>
  </head>
  <body class="body body_index">
    {% block content %}{% endblock %}

    <script src="./script/library.min.js" defer></script>
    <script src="./script/main.min.js" defer></script>
  </body>
</html>