@use '../../styles/utilities/box-sizing-border-box.scss';
@use '../../styles/variables.scss';

.icon {
  @extend %box-sizing-border-box;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  pointer-events: none;
  transition: variables.$transition-duration;
}
