//- @example
  +select
    option(value, selected, disabled) Select
    option(value='example') Example
//- @example
  +select(disabled='disabled')
    option(value, selected, disabled) Select
    option(value='example') Example
mixin select
  .select
    select.select__element&attributes(attributes)
      block
    +icon('chevron-down').select__icon(width='24', height='24')
