@import '../input/input';

.textarea {
  $font-size: ($base-unit * 4);
  height: (($base-unit * 30) / $font-size * 1em);

  &__element {
    overflow: auto;
    resize: vertical;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
