.textarea {
  $font-size: ($base-unit * 4);
  @extend %input;
  @include border-box;
  height: (($base-unit * 30) / $font-size * 1em);

  &__element {
    @extend %input__element;
    overflow: auto;
    resize: vertical;
  }
}
