//- @example +textarea()(placeholder='Example', required)
//- @example +textarea()(placeholder='Example', required, disabled)
//- @param {string} [label]
mixin textarea(label)
  .textarea
    textarea.textarea__element(aria-label=label)&attributes(attributes)
