//- @example +textarea(placeholder='Example')
//- @example +textarea(placeholder='Example', required='required')
//- @example +textarea(placeholder='Example', disabled='disabled')
//- @example +textarea(placeholder='Example', required='required', disabled='disabled')
//- @param {string} [label]
mixin textarea(label)
  .textarea
    textarea.textarea__element(aria-label=label)&attributes(attributes)
