include ../icon/icon.pug

//- @example +switch
//- @example +switch(checked="checked")
//- @example +switch(disabled="disabled")
//- @example +switch(checked="checked", disabled="disabled")
mixin switch
  .switch
    input.switch__element(type="checkbox")&attributes(attributes)
    +icon("checkbox-blank-circle-outline").switch__icon(
      width="32",
      height="32"
    )
