@use '../icon/icon';

.switch {
  $font-size: ($base-unit * 4);
  @extend %border-box;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: (($base-unit * 20) / $font-size * 1em);
  height: (($base-unit * 10) / $font-size * 1em);
  font-size: $font-size;
  vertical-align: middle;

  &__icon {
    position: absolute;
    top: (($base-unit * 1) / $font-size * 1em);
    left: (($base-unit * 1) / $font-size * 1em);
    width: (($base-unit * 8) / $font-size * 1em);
    height: (($base-unit * 8) / $font-size * 1em);
    font-size: inherit;
    color: $color-text-dark;
  }

  &__element {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    background-color: $color-body;
    border: 0;
    border-radius: (($base-unit * 5) / $font-size * 1em);
    box-shadow: inset 0 0 0 1px $color-line;
    transition: $transition-duration;
    appearance: none;

    &::-ms-check {
      display: none;
    }

    &:focus,
    &:hover {
      background-color: darken($color-body, 5%);
      outline: 0;
      box-shadow: inset 0 0 0 1px darken($color-line, 5%);

      + .switch__icon {
        color: darken($color-text-dark, 5%);
      }
    }

    &:checked {
      background-color: $color-accent;
      box-shadow: inset 0 0 0 1px $color-accent;

      + .switch__icon {
        color: $color-text-light;
        transform: translateX((($base-unit * 10) / $font-size * 1em));
      }
    }

    &:focus:checked,
    &:hover:checked {
      background-color: darken($color-accent, 5%);
      box-shadow: inset 0 0 0 1px darken($color-accent, 5%);
    }

    &[disabled] {
      pointer-events: none;
      cursor: default;
      user-select: none;
      opacity: 0.5;

      + .switch__icon {
        opacity: 0.5;
      }
    }

    &[hidden] {
      display: none;
    }
  }
}
