/* -----------------------------------------------------------
// main.scss
// --------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::after,
    &::before {
        box-sizing: border-box;
    }
}

input,
button,
select,
textarea {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

@import 'app';