@import '_variable';
@import '_mixin';

* {
    box-sizing: border-box;
    margin: 0;

    &::after,
    &::before {
        box-sizing: border-box;
    }
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
    line-height: inherit;
}

@import '_typography';
@import '_app';