@import './_mixin';

*
*::before,
*::after, {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
}

.visually-hidden {
    @include visually-hidden;
}