@use 'sass:math';
@use '../../styles/utilities/box-sizing-border-box.scss';
@use '../../styles/variables.scss';
@use '../button/button.scss';

.keyboard {
  $font-size: variables.base-units(4);
  @extend %box-sizing-border-box;
  display: inline-block;
  padding-top: math.div(variables.base-units(0.5) - 1px, $font-size) * 1em;
  padding-right: math.div(variables.base-units(0.5) - 1px, $font-size) * 1em;
  padding-bottom: math.div(variables.base-units(0.5) - 1px, $font-size) * 1em;
  padding-left: math.div(variables.base-units(0.5) - 1px, $font-size) * 1em;
  font-size: $font-size;
  border: 1px solid variables.$color-line;
  border-radius: math.div(variables.base-units(1), $font-size) * 1em;

  &__row {
    display: flex;
    width: 100%;
  }

  &__button {
    @extend %button;
    width: math.div(variables.base-units(8), $font-size) * 1em;
    min-width: auto;
    height: math.div(variables.base-units(8), $font-size) * 1em;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: math.div(variables.base-units(0.5), $font-size) * 1em;
    margin-right: math.div(variables.base-units(0.5), $font-size) * 1em;
    margin-bottom: math.div(variables.base-units(0.5), $font-size) * 1em;
    margin-left: math.div(variables.base-units(0.5), $font-size) * 1em;
    text-transform: none;

    &_accent {
      @extend %button_accent;
    }

    &_backspace {
      width: math.div(variables.base-units(14), $font-size) * 1em;
    }

    &_caps-lock {
      width: math.div(variables.base-units(18), $font-size) * 1em;
    }

    &_delete {
      width: math.div(variables.base-units(9), $font-size) * 1em;
    }

    &_enter {
      width: math.div(variables.base-units(22), $font-size) * 1em;
    }

    &_language {
      width: math.div(variables.base-units(8), $font-size) * 1em;
    }

    &_shift-left {
      width: math.div(variables.base-units(23), $font-size) * 1em;
    }

    &_shift-right {
      width: math.div(variables.base-units(17), $font-size) * 1em;
    }

    &_tab {
      width: math.div(variables.base-units(13), $font-size) * 1em;
    }

    &_space {
      width: math.div(variables.base-units(50), $font-size) * 1em;
    }
  }
}
