extends ./templates/base.pug

block variables
  -
    const documentLanguage = ''
    const bodyClasses = 'body body_index'
    const pageDescription = ''
    const pageKeywords = ''
    const pageTitle = 'Стартовый шаблон для верстки'

block head

block body
  h1= pageTitle
