extends ./templates/_base.pug
include ./blocks/icon/_icon.pug
include ./blocks/button/_button.pug

block variables
  - var pageTitle = 'Стартовый шаблон для верстки'
  - var bodyClass = 'body body_index'

block head

block body
  h1= pageTitle
