//- @param {string} [title]
mixin select(title)
  .select
    select.select__element(aria-label=title)&attributes(attributes)
      block
    +icon('chevron-down').select__icon(width='24', height='24')
