.select {
  $font-size: ($base-unit * 4);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: (($base-unit * 10) / $font-size * 1em);
  vertical-align: middle;
  font-size: $font-size;

  &__icon {
    position: absolute;
    top: 50%;
    right: (($base-unit * 2.5) / $font-size * 1em);
    width: (($base-unit * 6) / $font-size * 1em);
    height: (($base-unit * 6) / $font-size * 1em);
    color: $color-text-dark;
    font-size: inherit;
    transform: translateY(-50%);
  }

  &__element {
    padding-top: (($base-unit * 2) / $font-size * 1em);
    padding-right: (($base-unit * 11) / $font-size * 1em);
    padding-bottom: (($base-unit * 2) / $font-size * 1em);
    padding-left: (($base-unit * 4) / $font-size * 1em);
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: ($base-unit * 1);
    background-color: $color-body;
    box-shadow: inset 0 0 0 1px $color-line;
    color: $color-text-dark;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
    font-family: inherit;
    line-height: (($base-unit * 6) / $font-size * 1em);
    cursor: pointer;
    transition: $transition-duration;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:focus,
    &:hover {
      outline: 0;
      background-color: darken($color-body, 5%);
      box-shadow: inset 0 0 0 1px darken($color-line, 5%);
      color: darken($color-text-dark, 5%);

      & + .select__icon {
        color: darken($color-text-dark, 5%);
      }
    }

    &[disabled] {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      user-select: none;

      & + .select__icon {
        opacity: 0.5;
      }
    }

    &[hidden] {
      display: none;
    }
  }

  & *,
  & *::before,
  & *::after {
    box-sizing: inherit;
  }
}
